@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.navbar-brand {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  padding-top: 22px;
}

.navbar {
  min-height: 96px;
  padding-top: 20px;
}

#map {
 height: 400px;
 width: 100%;
}

.container {
  padding: 0;
}

.filters {
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-form {
  display: inline-block;
}

.listed-issues {
  height: 550px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: solid 1px #dddddd;
  padding: 20px;
}

.single-issue {
  border: solid 1px #dddddd;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.single-header {
  float: right;
}

.header {
  background-color: #a71e9c;
  width: 100%;
  padding: 8px;
  color: #FFFFFF;
}

.btn-primary {
  float: right;
  background-color: #c39471;
  font-size: 14px;
  margin-left: 5px;
}

.status-key {
  float: right;
}

.open-key {
  background-color: #aa0b10;
}

.pending-key {
  background-color: #e47813;
}

.resolved-key {
  background-color: #286e1a;
}

.description {
  padding-top: 20px;
}

.status {
  font-size: 16px;
  padding: 15px;
  font-weight: bold;
}

.status-btn {
  margin-bottom: 10px;
}

h2 {
  font-weight: bold;
  margin-bottom: 25px;
}

.new-issue {
  margin-bottom: 10px;
}
